



    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h3 style="font-family: 'Alegreya SC', serif;">
                    Le nostre pizze
                </h3>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12">
                <table class="table border-danger" style="font-family: 'Poltawski Nowy', serif;">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col" style="font-family: 'Alegreya SC', serif;">Pizza</th>
                            <th scope="col" style="font-family: 'Alegreya SC', serif;">Descrizione</th>
                            <th scope="col" style="font-family: 'Alegreya SC', serif;">Prezzo</th>
                        </tr>
                    </thead>
                    <tbody id="palle">
                        
                    </tbody>
                </table>
                 @if (User.IsInRole("ADMIN"))
            {
                <div class="row d-flex">
                    <div class="col-12 d-flex justify-content-center">
                            <a href="@Url.Action("CreatePizza", "Pizza")" class="btn btn-warning" style="font-family: 'Poltawski Nowy', serif;">Aggiungi una pizza al menù</a>
                            </div>

                    </div>
            }
            </div>
        </div>
    </div>
@section Scripts{
    axios.get("https://localhost:7140/api/pizzaAPI/GetPizzas").then((result) => {
			const listPizzas = result.data;

			debugger;	listPizzas.forEach(pizza => {
                        document.getElementById("palle").innerHTML += `
    <tr>
        <td><img class="img-fluid img_square min-vw-300" height="200" width="200" src=${pizza.imgSource} alt="Pizza ${pizza.Name}"></td>
        <th scope="row"> ${pizza.name} </th>
        <td>${pizza.description}</td>
        <td>
            ${pizza.price}
        </td>
        <td>
            <div class="col-12 d-flex justify-content-center">
                <a href="/pizza/detail/${pizza.id}" class="btn btn-success mt-3" style="font-family: 'Poltawski Nowy', serif;">Dettagli</a>
            </div>
        </td>


    </tr>

				`
			
    });
})
}